/* SPDX-FileCopyrightText: 2023 Springtime authors

SPDX-License-Identifier: Apache-2.0 */
/* Don't show cell counts in notebooks */
.jp-InputPrompt, .jp-OutputPrompt {
    display: none !important;
}

/* Make headers in api docs more different */
h1.doc-heading {
    font-size: 1.5rem;
}
h2.doc-heading {
    font-size: 1.2rem;
}
h3.doc-heading {
    font-size: 1rem;
}
h4.doc-heading {
    font-size: 0.8rem;
}
h5.doc-heading {
    font-size: 0.7rem;
}
h6.doc-heading {
    font-size: 0.5rem;
}

/* Don't format api headers as code block */
h1 > code {
    background-color: white!important;
    padding: 0!important;
    font-weight: bold;
}
h2 > code {
    background-color: white!important;
    padding:0!important;
    font-weight: bold;
}
h3 > code {
    background-color: white!important;
    padding: 0!important;
    font-weight: bold;
}
h4 > code {
    background-color: white!important;
    padding: 0!important;
    font-weight: bold;
}
h5 > code {
    background-color: white!important;
    padding: 0!important;
    font-weight: bold;
}
h6 > code {
    background-color: white!important;
    padding: 0!important;
    font-weight: bold;
}
